In [1]:
import numpy as np
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('data-table.csv')
data.head()

   YEAR STATE  RATE DEATHS                                       URL
0  2022    AL  14.9    957     /nchs/pressroom/states/alabama/al.htm
1  2022    AK  10.4     75      /nchs/pressroom/states/alaska/ak.htm
2  2022    AZ  10.1    962     /nchs/pressroom/states/arizona/az.htm
3  2022    AR  17.2    653    /nchs/pressroom/states/arkansas/ar.htm
4  2022    CA  11.5  5,308  /nchs/pressroom/states/california/ca.htm